## LubbaEMU Configuration File - WebSocket Support

[database]
db.hostname=127.0.0.1
db.port=3306
db.username=root
db.password=
db.name=lubba
db.pool.minsize=5
db.pool.maxsize=100

[game]
game.tcp.port=30000
game.tcp.backlog=500
game.tcp.conlimit=500
game.tcp.conperip=2
game.tcp.enabled=1
game.tcp.enablenagles=false

[websocket]
websocket.enabled=1

[mus]
mus.enabled=0
mus.tcp.port=30001
mus.tcp.allowedaddr=127.0.0.1

[console]
console.clear.enabled=1

[advanced]
debug=0
debug.show.packets=0

[hotel]
hotel.name=Lubba Hotel
hotel.url=http://127.0.0.1

[rcon]
rcon.tcp.port=30003
rcon.tcp.bindip=127.0.0.1
rcon.tcp.allowedaddr=127.0.0.1

[cache]
cache.enabled=1

[pathfinder]
pathfinder.mode=1

[logging]
logging.enabled=1
logging.level=INFO
